<!--Super heroe-->
<h1>{{heroe.nombre | uppercase }}</h1>
<div class="card mb-10 animated fadeIn">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img class="card-img" [src]="heroe.img" [alt]="heroe.nombre">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title">{{heroe.nombre}}</h1>
                <p class="card-text">{{heroe.bio}}</p>
                <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
                <div class="col-md-4">
                    <img class="card-img" *ngIf="heroe.casa == 'Marvel'" src="assets/img/img/marvel.png">
                    <img class="card-img" *ngIf="heroe.casa == 'DC'" src="assets/img/img/dc.jpg">

                </div>
                <br>
                <div class="col-md-4">
                    <a class="btn btn-danger col-md-12" [routerLink]="['/heroes']">regresar</a>
                </div>
            </div>
        </div>
    </div>
</div>